---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Index">
  <Navbar active="index" />

	<main class="w-full p-2 pt-14" >
	</main>
</Layout>
