---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import PText from "../components/PText.astro";

import { introduction, additional_info, people } from "../assets/read.json";
---

<Layout title="Read">
  <Navbar active="read" />
  <main
    class="min-h-screen min-w-full p-4 py-20 flex md:grid md:grid-cols-[140px_minmax(min-content,690px)]"
  >
    <div></div>
    <div>
      <PText portableText={introduction} />

      <h1 class="flex flex-col">kontakt</h1>
      {
        people.map((person) => (
          <div class="flex">
            <a href={`/${person.slug}`} class="hover:blur-xs transition-blur">
              {person.name}
            </a>
          </div>
        ))
      }

      <PText portableText={additional_info} />
    </div>
  </main>
</Layout>
