---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Listen">
  <Navbar active="listen" />
	<main class="min-h-screen min-w-full p-2 pt-14 flex sm:grid sm:grid-cols-[360px_1fr]">
    <div/>

    <div class="mt-4">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
      </ul>
    </div>
	</main>
</Layout>

