---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { slugify } from "../lib/helpers";

import { getSanity } from "../lib/api";
const { productions } = await getSanity(null, "productions");
---

<Layout title="Listen">
  <Navbar active="listen" />
  <main
    class="min-h-screen min-w-full p-2 pt-14 flex sm:grid sm:grid-cols-[360px_1fr]"
  >
    <div></div>

    <div class="flex flex-col">
      {
        productions.map((production) => (
          <a
            href={slugify(production.title)}
            class="hover:blur-xs transition-blur"
          >
            {production.title}
          </a>
        ))
      }
    </div>
  </main>
</Layout>
==
