---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import PText from "../components/PText.astro";
import { slugify } from "../lib/helpers";

import { getSanity } from "../lib/api";
const { introduction, people, additional_info } = await getSanity(null, "read");
---

<Layout title="Read">
  <Navbar active="read" />
  <main
    class="min-h-screen min-w-full p-2 pt-14 flex sm:grid sm:grid-cols-[180px_minmax(min-content,800px)]"
  >
    <div></div>
    <div>
      <PText portableText={introduction} />

      <h1 class="mt-4">kontakt</h1>
      {
        people.map((person) => (
          <a href={slugify(person.name)} class="hover:blur-xs transition-blur">
            {person.name}
          </a>
        ))
      }

      <PText portableText={additional_info} />
    </div>
  </main>
</Layout>
