---
import { PortableText } from 'astro-portabletext'
const { portableText } = Astro.props;
---

<div class="portable-text">
  <PortableText value={portableText} />
</div>

<script is:inline>
  document.querySelectorAll('.portable-text a').forEach(anchor => {
    anchor.setAttribute('target', '_blank');
  });
</script>
